In [106]:
import pandas as pd
import numpy as np

In [107]:
in2o3 = pd.read_csv("dataset_in2o3_2.csv")
in2o3

,metal_ox,gas_cate,temperature,density,resp_density,metal,resp_val
0,In2O3,gasoline,200,100,0.005,In2O3,1.2
1,In2O3,gasoline,200,100,0.005,Ru,1.3
2,In2O3,gasoline,200,100,0.005,Rh,1.6
3,In2O3,gasoline,200,100,0.005,Pd,1.8
4,In2O3,gasoline,200,100,0.005,Pt,1.3
...,...,...,...,...,...,...,...
2575,In2O3,diesel_fuel,400,30,0.001,Nd,1.7
2576,In2O3,diesel_fuel,400,30,0.001,Eu,1.6
2577,In2O3,diesel_fuel,400,30,0.001,Sb,1.0
2578,In2O3,diesel_fuel,400,30,0.001,Gd,4.0
2579,In2O3,diesel_fuel,400,30,0.001,Ho,2.4

In [108]:
wo3 = pd.read_csv("dataset_wo3.csv")
wo3

     metal_ox     gas_cate  temperature  density  resp_density metal  resp_val
0         wo3      benzene          100      400         0.001   WO3       1.7
1         wo3      benzene          100      400         0.001     Y       1.5
2         wo3      benzene          100      400         0.001    La       1.5
3         wo3      benzene          100      400         0.001    Ce       1.4
4         wo3      benzene          100      400         0.001    Pr       1.8
...       ...          ...          ...      ...           ...   ...       ...
4155      wo3  diesel_fuel          200       50         0.005    Gd       1.4
4156      wo3  diesel_fuel          200       50         0.005    Ho       1.1
4157      wo3  diesel_fuel          200       50         0.005    Er       1.1
4158      wo3  diesel_fuel          200       50         0.005    Yb       1.1
4159      wo3  diesel_fuel          200       50         0.005    Sb       1.1

[4160 rows x 7 columns]

In [109]:
tio2 = pd.read_csv("dataset_tio2.csv")
tio2

     metal_ox     gas_cate  temperature  density  resp_density metal  resp_val
0        TiO2      benzene          400      100         0.005  TiO2       1.5
1        TiO2      benzene          400      100         0.005     Y       1.2
2        TiO2      benzene          400      100         0.005    La       1.2
3        TiO2      benzene          400      100         0.005    Ce       1.4
4        TiO2      benzene          400      100         0.005    Pr       1.2
...       ...          ...          ...      ...           ...   ...       ...
3765     TiO2  diesel_fuel          200      200         0.001    Gd       1.0
3766     TiO2  diesel_fuel          200      200         0.001    Ho       1.0
3767     TiO2  diesel_fuel          200      200         0.001    Er       1.0
3768     TiO2  diesel_fuel          200      200         0.001    Yb       3.6
3769     TiO2  diesel_fuel          200      200         0.001    Sb       1.0

[3770 rows x 7 columns]

In [110]:
frames = [in2o3,tio2, wo3]
  
result = pd.concat(frames)
display(result)

,metal_ox,gas_cate,temperature,density,resp_density,metal,resp_val
0,In2O3,gasoline,200,100,0.005,In2O3,1.2
1,In2O3,gasoline,200,100,0.005,Ru,1.3
2,In2O3,gasoline,200,100,0.005,Rh,1.6
3,In2O3,gasoline,200,100,0.005,Pd,1.8
4,In2O3,gasoline,200,100,0.005,Pt,1.3
...,...,...,...,...,...,...,...
4155,wo3,diesel_fuel,200,50,0.005,Gd,1.4
4156,wo3,diesel_fuel,200,50,0.005,Ho,1.1
4157,wo3,diesel_fuel,200,50,0.005,Er,1.1
4158,wo3,diesel_fuel,200,50,0.005,Yb,1.1
4159,wo3,diesel_fuel,200,50,0.005,Sb,1.1

In [111]:
result.to_csv("dataset_all.csv",index=False)

In [112]:
data = pd.read_csv("dataset_all.csv")
data.describe()

        temperature       density  resp_density      resp_val
count  10510.000000  10510.000000  10510.000000  10506.000000
mean     297.559467    235.484301      0.003004      6.154542
std      253.959959    272.604277      0.001413     22.792337
min       50.000000     30.000000      0.001000      1.000000
25%      100.000000    100.000000      0.002000      1.000000
50%      200.000000    100.000000      0.003000      1.600000
75%      350.000000    250.000000      0.004000      2.800000
max     1000.000000   1000.000000      0.005000    927.500000

In [113]:
data[:5]

  metal_ox  gas_cate  temperature  density  resp_density  metal  resp_val
0    In2O3  gasoline          200      100         0.005  In2O3       1.2
1    In2O3  gasoline          200      100         0.005     Ru       1.3
2    In2O3  gasoline          200      100         0.005     Rh       1.6
3    In2O3  gasoline          200      100         0.005     Pd       1.8
4    In2O3  gasoline          200      100         0.005     Pt       1.3

In [114]:
cols_input = list(data.head())[:-1]
cols_input

['metal_ox', 'gas_cate', 'temperature', 'density', 'resp_density', 'metal']

In [115]:
cols_output = []
cols_output.append(list(data.head())[-1])
cols_output

['resp_val']

In [116]:
x = data[cols_input]
x

      metal_ox     gas_cate  temperature  density  resp_density  metal
0        In2O3     gasoline          200      100         0.005  In2O3
1        In2O3     gasoline          200      100         0.005     Ru
2        In2O3     gasoline          200      100         0.005     Rh
3        In2O3     gasoline          200      100         0.005     Pd
4        In2O3     gasoline          200      100         0.005     Pt
...        ...          ...          ...      ...           ...    ...
10505      wo3  diesel_fuel          200       50         0.005     Gd
10506      wo3  diesel_fuel          200       50         0.005     Ho
10507      wo3  diesel_fuel          200       50         0.005     Er
10508      wo3  diesel_fuel          200       50         0.005     Yb
10509      wo3  diesel_fuel          200       50         0.005     Sb

[10510 rows x 6 columns]

In [117]:
y = data[cols_output]
y

       resp_val
0           1.2
1           1.3
2           1.6
3           1.8
4           1.3
...         ...
10505       1.4
10506       1.1
10507       1.1
10508       1.1
10509       1.1

[10510 rows x 1 columns]

In [118]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [119]:
X_train, X_test, y_train, y_test = train_test_split(x,y ,
                                   random_state=104, 
                                   test_size=0.25, 
                                   shuffle=True)

In [120]:
X_train

     metal_ox      gas_cate  temperature  density  resp_density metal
2904     TiO2       benzene          200      100         0.001    Sb
2052    In2O3   diesel_fuel          300       30         0.002    Ho
7609      wo3        xylene          100      250         0.002    Yb
3138     TiO2       toluene          400      100         0.003    Sb
8499      wo3            h2         1000      350         0.001    Pr
...       ...           ...          ...      ...           ...   ...
6310     TiO2   diesel_fuel          200      200         0.004    Sb
8846      wo3            h2         1000      100         0.003   WO3
729     In2O3      gasoline          300       30         0.004    Rh
5825     TiO2      gasoline          350      200         0.001    Gd
8261      wo3  formaldehyde          100      150         0.003   WO3

[7882 rows x 6 columns]

In [121]:
datacopy = data.copy()

In [122]:
# Get one hot encoding of columns B
data_metal = pd.get_dummies(datacopy.metal, prefix='metal')
data_metal_ox = pd.get_dummies(datacopy.metal_ox, prefix='metal_ox')
data_gas_cate = pd.get_dummies(datacopy.gas_cate, prefix='gas_cate')


# Drop column B as it is now encoded
datacopy = datacopy.drop('metal',axis = 1)
datacopy = datacopy.drop('metal_ox',axis = 1)
datacopy = datacopy.drop('gas_cate',axis = 1)
# Join the encoded df
datacopy = datacopy.join(data_metal)
datacopy = datacopy.join(data_metal_ox)
datacopy = datacopy.join(data_gas_cate)

In [123]:
datacopy[:15]

,temperature,density,resp_density,resp_val,metal_Ce,metal_Er,metal_Eu,metal_Gd,metal_Ho,metal_In2O3,...,metal_ox_TiO2,metal_ox_wo3,gas_cate_benzene,gas_cate_ch4,gas_cate_diesel_fuel,gas_cate_formaldehyde,gas_cate_gasoline,gas_cate_h2,gas_cate_toluene,gas_cate_xylene
0,200,100,0.005,1.2,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
1,200,100,0.005,1.3,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,200,100,0.005,1.6,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,200,100,0.005,1.8,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,200,100,0.005,1.3,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,200,100,0.005,1.5,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,200,100,0.005,1.8,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,200,100,0.005,1.5,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8,200,100,0.005,1.6,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9,200,100,0.005,1.5,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
10,200,100,0.005,1.6,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
11,200,100,0.005,2.6,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
12,200,100,0.005,1.6,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
13,200,100,0.004,1.2,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
14,200,100,0.004,1.2,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [124]:
a = list(datacopy.head())
print(a)

['temperature', 'density', 'resp_density', 'resp_val', 'metal_Ce', 'metal_Er', 'metal_Eu', 'metal_Gd', 'metal_Ho', 'metal_In2O3', 'metal_La', 'metal_Nd', 'metal_Pd', 'metal_Pr', 'metal_Pt', 'metal_Rh', 'metal_Ru', 'metal_Sb', 'metal_Sm', 'metal_TiO2', 'metal_WO3', 'metal_Y', 'metal_Yb', 'metal_ox_In2O3', 'metal_ox_TiO2', 'metal_ox_wo3', 'gas_cate_benzene', 'gas_cate_ch4', 'gas_cate_diesel_fuel', 'gas_cate_formaldehyde', 'gas_cate_gasoline', 'gas_cate_h2', 'gas_cate_toluene', 'gas_cate_xylene']

In [125]:
a = list(datacopy.head())
print(a)

column_to_move = datacopy.pop("resp_val")

datacopy.insert(len(a)-1, "resp_val", column_to_move)
datacopy.to_csv("train_data.csv", index=False)

['temperature', 'density', 'resp_density', 'resp_val', 'metal_Ce', 'metal_Er', 'metal_Eu', 'metal_Gd', 'metal_Ho', 'metal_In2O3', 'metal_La', 'metal_Nd', 'metal_Pd', 'metal_Pr', 'metal_Pt', 'metal_Rh', 'metal_Ru', 'metal_Sb', 'metal_Sm', 'metal_TiO2', 'metal_WO3', 'metal_Y', 'metal_Yb', 'metal_ox_In2O3', 'metal_ox_TiO2', 'metal_ox_wo3', 'gas_cate_benzene', 'gas_cate_ch4', 'gas_cate_diesel_fuel', 'gas_cate_formaldehyde', 'gas_cate_gasoline', 'gas_cate_h2', 'gas_cate_toluene', 'gas_cate_xylene']

In [126]:
datacopy.dtypes

temperature                int64
density                    int64
resp_density             float64
metal_Ce                   uint8
metal_Er                   uint8
metal_Eu                   uint8
metal_Gd                   uint8
metal_Ho                   uint8
metal_In2O3                uint8
metal_La                   uint8
metal_Nd                   uint8
metal_Pd                   uint8
metal_Pr                   uint8
metal_Pt                   uint8
metal_Rh                   uint8
metal_Ru                   uint8
metal_Sb                   uint8
metal_Sm                   uint8
metal_TiO2                 uint8
metal_WO3                  uint8
metal_Y                    uint8
metal_Yb                   uint8
metal_ox_In2O3             uint8
metal_ox_TiO2              uint8
metal_ox_wo3               uint8
gas_cate_benzene           uint8
gas_cate_ch4               uint8
gas_cate_diesel_fuel       uint8
gas_cate_formaldehyde      uint8
gas_cate_gasoline          uint8
gas_cate_h2                uint8
gas_cate_toluene           uint8
gas_cate_xylene            uint8
resp_val                 float64
dtype: object

In [127]:
# convert Series
resp_val = pd.to_numeric(datacopy["resp_val"])

# convert column "a" of a DataFrame
datacopy["resp_val"] = pd.to_numeric(datacopy["resp_val"])

In [129]:
datacopy.dtypes

temperature                int64
density                    int64
resp_density             float64
metal_Ce                   uint8
metal_Er                   uint8
metal_Eu                   uint8
metal_Gd                   uint8
metal_Ho                   uint8
metal_In2O3                uint8
metal_La                   uint8
metal_Nd                   uint8
metal_Pd                   uint8
metal_Pr                   uint8
metal_Pt                   uint8
metal_Rh                   uint8
metal_Ru                   uint8
metal_Sb                   uint8
metal_Sm                   uint8
metal_TiO2                 uint8
metal_WO3                  uint8
metal_Y                    uint8
metal_Yb                   uint8
metal_ox_In2O3             uint8
metal_ox_TiO2              uint8
metal_ox_wo3               uint8
gas_cate_benzene           uint8
gas_cate_ch4               uint8
gas_cate_diesel_fuel       uint8
gas_cate_formaldehyde      uint8
gas_cate_gasoline          uint8
gas_cate_h2                uint8
gas_cate_toluene           uint8
gas_cate_xylene            uint8
resp_val                 float64
dtype: object

In [ ]:
datacopy.to_csv("train_data_mod.csv", index=False)