In [1]:
import pandas as pd
import numpy as np

In [8]:
in2o3 = pd.read_csv("dataset_in2o3_2.csv")
in2o3

,metal_ox,gas_cate,temperature,density,resp_density,metal,resp_val
0,In2O3,gasoline,200,100,0.005,In2O3,1.2
1,In2O3,gasoline,200,100,0.005,Ru,1.3
2,In2O3,gasoline,200,100,0.005,Rh,1.6
3,In2O3,gasoline,200,100,0.005,Pd,1.8
4,In2O3,gasoline,200,100,0.005,Pt,1.3
...,...,...,...,...,...,...,...
2575,In2O3,diesel_fuel,400,30,0.001,Nd,1.7
2576,In2O3,diesel_fuel,400,30,0.001,Eu,1.6
2577,In2O3,diesel_fuel,400,30,0.001,Sb,1.0
2578,In2O3,diesel_fuel,400,30,0.001,Gd,4.0
2579,In2O3,diesel_fuel,400,30,0.001,Ho,2.4

In [9]:
tio2 = pd.read_csv("dataset_tio2.csv")
tio2

     metal_ox     gas_cate  temperature  density  resp_density metal  resp_val
0        TiO2      benzene          400      100         0.005  TiO2       1.5
1        TiO2      benzene          400      100         0.005     Y       1.2
2        TiO2      benzene          400      100         0.005    La       1.2
3        TiO2      benzene          400      100         0.005    Ce       1.4
4        TiO2      benzene          400      100         0.005    Pr       1.2
...       ...          ...          ...      ...           ...   ...       ...
3765     TiO2  diesel_fuel          200      200         0.001    Gd       1.0
3766     TiO2  diesel_fuel          200      200         0.001    Ho       1.0
3767     TiO2  diesel_fuel          200      200         0.001    Er       1.0
3768     TiO2  diesel_fuel          200      200         0.001    Yb       3.6
3769     TiO2  diesel_fuel          200      200         0.001    Sb       1.0

[3770 rows x 7 columns]

In [10]:
wo3 = pd.read_csv("dataset_wo3.csv")
wo3

     metal_ox     gas_cate  temperature  density  resp_density metal resp_val
0         wo3      benzene          100      400         0.000     Y      1.5
1         wo3      benzene          100      400         0.000    La      1.7
2         wo3      benzene          100      400         0.000    Ce      1.5
3         wo3      benzene          100      400         0.000    Pr      2.1
4         wo3      benzene          100      400         0.000    Nd      1.3
...       ...          ...          ...      ...           ...   ...      ...
4603      wo3  diesel_fuel          200       50         0.005    Gd      1.4
4604      wo3  diesel_fuel          200       50         0.005    Ho      1.1
4605      wo3  diesel_fuel          200       50         0.005    Er      1.1
4606      wo3  diesel_fuel          200       50         0.005    Yb      1.1
4607      wo3  diesel_fuel          200       50         0.005    Sb      1.1

[4608 rows x 7 columns]

In [11]:
frames = [in2o3,tio2, wo3]
  
result = pd.concat(frames)
display(result)

     metal_ox     gas_cate  temperature  density  resp_density  metal resp_val
0       In2O3     gasoline          200      100         0.005  In2O3      1.2
1       In2O3     gasoline          200      100         0.005     Ru      1.3
2       In2O3     gasoline          200      100         0.005     Rh      1.6
3       In2O3     gasoline          200      100         0.005     Pd      1.8
4       In2O3     gasoline          200      100         0.005     Pt      1.3
...       ...          ...          ...      ...           ...    ...      ...
4603      wo3  diesel_fuel          200       50         0.005     Gd      1.4
4604      wo3  diesel_fuel          200       50         0.005     Ho      1.1
4605      wo3  diesel_fuel          200       50         0.005     Er      1.1
4606      wo3  diesel_fuel          200       50         0.005     Yb      1.1
4607      wo3  diesel_fuel          200       50         0.005     Sb      1.1

[10958 rows x 7 columns]

In [12]:
result.to_csv("dataset_all.csv",index=False)